{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Lista Produktów" %} - My Shop
{% endblock title %}

{% block content %}
<style>
     .products-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columns */
        grid-auto-rows: minmax(100px, auto); /* Each row height adjusts to content */
        gap: 20px; /* Space between grid items */
        overflow-y: scroll; /* Enables vertical scrolling */
        max-height: calc(3 * 260px); /* Height for 3 rows (adjust based on your product card height) */
        padding: 20px;
        margin-bottom: 20px; /* Ensure there's space between container and footer */
    }
    .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        text-decoration: none; /* No underline for links */
        color: inherit; /* Inherit text color from parent */
        background: #fff; /* Background color for the product card */
        cursor: pointer; /* Changes the cursor to indicate it's clickable */
    }
    .product-card:hover {
        box-shadow: 0 8px 30px rgba(0,0,0,0.2); /* Hover effect for the card */
    }
    .product-image {
        width: 100%; /* Ensures the image takes up the full width of the card */
        height: 240px; /* Set a fixed height for the image */
        object-fit: cover; /* Ensures the image covers the area */
    }
    .product-info {
        padding: 15px;
        text-align: center; /* Centers the text within the product info */
    }
    .product-info h3, .product-info p {
        margin: 0; /* Removes default margin */
    }
    .product-info .price {
        color: #017cff;
        font-weight: bold;
    }
</style>

<h2>{% trans "Nasze Produkty" %}</h2>
<div class="products-container">
    {% for product in products %}
        <a href="{% url 'product_detail' product.pk %}" class="product-card">
            <img class="product-image" src="{% if product.photo %}{{ product.img_url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="{{ product.name }}">
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="price">{{ product.price }} zł</p>
            </div>
        </a>
    {% empty %}
        <p>{% trans "Brak produktów." %}</p>
    {% endfor %}
</div>
{% endblock content %}
